{% load static %}

<footer class="sticky-footer bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 me-auto">
                <div class="col-md-3 me-auto">
                    <h4 class="roboto-bold border-bottom border-white">Контакты</h4>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="tel:79215557671" target="_blank">
                            <i class="fa-solid fa-phone"></i> +7(921)-555-76-71
                        </a>
                    </li>
                    <li>
                        <a href="mailto:Snegohodkin@yandex.ru" target="_blank">
                            <i class="fa-regular fa-envelope"></i> Snegohodkin@yandex.ru</a>
                    </li>
                    <li>
                        <a href="https://wa.me/79215557671" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i> WhatsApp
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="col-md-2 me-auto">
                    <h4 class="roboto-bold border-bottom border-white">Адрес</h4>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://yandex.ru/maps/org/anders_motors/75248829898?si=8by0vd379vg50tme1zn3rt93dc"
                           target="_blank">
                            <i class="fa-solid fa-location-dot"></i> Яндекс Карты
                        </a>
                    </li>
                    <li>
                        <a href="https://2gis.ru/spb/geo/5348660212673237/30.263124%2C59.955959?m=30.263559%2C59.955931%2F18.98"
                           target="_blank">
                            <i class="fa-solid fa-map-location-dot"></i> 2ГИС
                        </a>
                    </li>
                    <li>Уральская улица, 13С, Санкт-Петербург</li>
                </ul>
            </div>
            <div class="col-md-4 ms-auto">
                <div class="col-md-5 me-auto">
                    <h4 class="roboto-bold border-bottom border-white">Гафик работы</h4>
                </div>
                <ul class="list-unstyled">
                    <li>ПН-ПТ: 08:00-18:00</li>
                    <li>Без перерыва</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

