<script>
    const myForm = document.getElementById('myForm');
    let successMessage = document.getElementById('success-message');
    let errorMessage = document.getElementById('error-message');

    let isFormSubmitted = false; // Добавляем переменную для отслеживания отправки

    myForm.addEventListener('submit', function(event) {
      event.preventDefault();

      if (isFormSubmitted) { // Проверяем, была ли форма уже отправлена
        errorMessage.style.display = 'none'; // Убираем сообщение об ошибке
      }

      isFormSubmitted = true; // Устанавливаем флаг, что форма была отправлена

      const formData = new FormData(this);

      fetch(this.action, {
        method: 'POST',
        body: formData,
      })
      .then(response => {
        if (!response.ok) {
          return response.json()
            .then(data => {
              const firstError = Object.values(data.errors)[0];
              throw new Error(firstError);
            });
        }
        return response.json();
      })
      .then(data => {
        if (data.success) {
          myForm.style.display = 'none';
          successMessage.style.display = 'block';
        }
      })
      .catch(error => {
        errorMessage.textContent = error.message;
        errorMessage.style.display = 'block';
      });
    });
</script>