<script>
    const myForm2 = document.getElementById('myForm2');
    let successMessage2 = document.getElementById('success-message2'); //  Изменим  на  let
    let errorMessage2 = document.getElementById('error-message2'); //  Изменим  на  let

    myForm2.addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch(this.action, {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (!response.ok) {
                return response.json()
                    .then(data => {
                        const firstError = Object.values(data.errors);
                        throw new Error(firstError);
                    });
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                myForm2.style.display = 'none';
                successMessage2.style.display = 'block';
            }
        })
        .catch(error => {
            errorMessage2.textContent = error.message;
            errorMessage2.style.display = 'block';
        });
    });
</script>