<script>
    const myForm2 = document.getElementById('myForm2');
    let successMessage2 = document.getElementById('success-message2');
    let errorMessage2 = document.getElementById('error-message2');

    let isForm2Submitted = false; // Добавляем переменную для отслеживания отправки

    myForm2.addEventListener('submit', function(event) {
        event.preventDefault();

        if (isForm2Submitted) { // Проверяем, была ли форма уже отправлена
          errorMessage2.style.display = 'none'; // Убираем сообщение об ошибке
        }

        isForm2Submitted = true; // Устанавливаем флаг, что форма была отправлена

        const formData = new FormData(this);

        fetch(this.action, {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (!response.ok) {
                return response.json()
                    .then(data => {
                        const firstError = Object.values(data.errors)[0];
                        throw new Error(firstError);
                    });
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                myForm2.style.display = 'none';
                successMessage2.style.display = 'block';
            }
        })
        .catch(error => {
            errorMessage2.textContent = error.message;
            errorMessage2.style.display = 'block';
        });
    });
</script>