<script>
    const myForm = document.getElementById('myForm');
    let successMessage = document.getElementById('success-message');
    let errorMessage = document.getElementById('error-message');

    myForm.addEventListener('submit', function(event) {
      event.preventDefault();

      const formData = new FormData(this);

      fetch(this.action, {
        method: 'POST',
        body: formData,
      })
      .then(response => {
        if (!response.ok) {
          // Если ответ сервера не успешный (status code != 200),
          // обрабатываем ошибку
          return response.json()
            .then(data => {
              // Выбираем первое сообщение из data.errors
              const firstError = Object.values(data.errors);
              throw new Error(firstError); // Перебрасываем ошибку с
                                            // нужным сообщением
            });
        }
        return response.json();
      })
      .then(data => {
        if (data.success) {
          // Закрываем форму (с помощью JavaScript):
          myForm.style.display = 'none';

          // Отображаем сообщение "Спасибо":
          successMessage.style.display = 'block';
        }
      })
      .catch(error => {
        // Обработка ошибок
        errorMessage.textContent = error.message;

        // Вывод сообщения об ошибке
        errorMessage.style.display = 'block';
      });
    });
</script>