{% load static %}
<div class="modal fade" id="user-contacts-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="staticBackdropLabel">Заказать звонок</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                   <form method="post" action="{% url 'user-contacts-views' %}" id="myForm">
                       {% csrf_token %}
                       {{ form.as_p }}
                       <button type="submit" class="btn btn-primary">Отправить</button>
                   </form>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
               </div>
           </div>
       </div>
   </div>
   <script>
     $(document).ready(function() {
       $('#myForm').submit(function(event) {
         event.preventDefault(); // Предотвращаем стандартную отправку формы

         var formData = $(this).serialize(); // Получаем данные формы

         $.ajax({
           url: '{% url 'user-contacts-views' %}', // URL представления Django
           type: 'POST',
           data: formData,
           success: function(response) {
             // Обработка успешной отправки (например, показ сообщения об успехе)
             console.log(response);
             $('#user-contacts-modal').modal('hide'); // Закрываем модальное окно
             // Обновляем страницу или делаете что-то другое
           },
           error: function(error) {
             // Обработка ошибки (например, показ сообщения об ошибке)
             console.error(error);
           }
         });
       });
     });
   </script>
