.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

html {
 font-size: 16px;
}

body {
 font-family: "Roboto", serif;
 font-size: 16px;
 font-weight: 400;
 color: #000;
 background-color: #fff;
 min-width: 320px;
 margin: 0;
}

img {
 max-width: 100%;
 height: auto;
}

section {
 padding: 50px 0;
}

a {
 color: #fff;
 text-decoration: none;
}

a:hover {
 color: #888;
 text-decoration: none;
}

/* Header */

.navbar-dark .navbar-nav .nav-item .nav-link {
 color: #fff;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
 color: #888;
}

/* Form */
#error-message {
  color: red;
  padding: 1px;
  display: none;
  /* Скрываем по умолчанию */
}

.usercontactsform .field {
  display: block; /* Размещаем поля блочно */
  margin-bottom: 10px; /* Добавляем отступ */
}

.usercontactsform label {
   display: block;
   margin-bottom: 5px; /* Добавляем отступ */
}

.usercontactsform input,
.usercontactsform textarea {
  width: 100%; /* Занимают всю ширину */
}

.usercontactsform2 label {
    display: block; /*  Размещаем  лейбл  блочно */
    margin-bottom: 5px; /*  Добавляем  отступ  снизу  лейбла */
}

.usercontactsform2 input {
    width: 70%;
    padding: 8px; /*  Добавляем  отступ  для  текста */
}

.usercontactsform2 button {
    width: 30%;
    padding: 8px; /*  Добавляем  отступ  для  текста */
    margin-top: 10px; /*  Добавляем  отступ  сверху  от  поля */
}

#error-message2 {
  color: red;
  padding: 1px;
  display: none;
  /* Скрываем по умолчанию */
}

.btn-primary {
border-color:black;
color:black;
background-color: white;
}

.btn-primary:hover {
border-color:black;
color:white;
background-color: black;
}

.btn-secondary {
border-color: black;
color: white;
background-color: black;
}

.btn-secondary:hover {
border-color: #dc3545;
color: black;
background-color: #dc3545;
}

.btn-close:hover {
background-color: #dc3545;
}

.sticky-footer {
 padding: 20px;
}

.sticky-footer h4 {
 border-bottom: 1px, solid, white;
}

